<?xml version="1.0"?>
<config>
    <modules>
        <OrganicInternet_PostcodeAnywhere>
            <version>0.0.1</version>
        </OrganicInternet_PostcodeAnywhere>
    </modules>
    <global>
        <blocks>
            <postcodeanywhere>
                <class>OrganicInternet_PostcodeAnywhere_Block</class>
            </postcodeanywhere>
        </blocks>
        <models>
            <postcodeanywhere>
                <class>OrganicInternet_PostcodeAnywhere_Model</class>
            </postcodeanywhere>
        </models>
        <helpers>
            <postcodeanywhere>
                <class>OrganicInternet_PostcodeAnywhere_Helper</class>
            </postcodeanywhere>
        </helpers>
    </global>
    <frontend>
		<routers>
            <postcodeanywhere>
                <use>standard</use>
                <args>
                    <module>OrganicInternet_PostcodeAnywhere</module>
                    <frontName>postcodeanywhere</frontName>
                </args>
            </postcodeanywhere>
        </routers>
        <layout>
            <updates>
                <organicinternet_postcodeanywhere>
                    <file>organicinternet_postcodeanywhere.xml</file>
                </organicinternet_postcodeanywhere>
            </updates>
        </layout>
	</frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <postcodeanywhere>
                                            <title>PostcodeAnywhere Config</title>
                                        </postcodeanywhere>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>

    <default>
        <postcodeanywhere>
            <general>
                <active>1</active>
            </general>
        </postcodeanywhere>
    </default>
</config>